<html>
    <head>
        <title> details </title>
        
    </head>
    <body> 
        
        {{modeles.id}} 
        {{modeles.nom}}
        {{modeles.pays}}
        {{modeles.latitude}}
        {{modeles.longitude}}
        {{modeles.description}}
        {{modeles.type}}
        {{modeles.image}}
        
        
    </body>
        
        
  
    
</html>