{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block body %}
<body>
<!---start-Criuses---->
		<div class="criuses">
		
			<div class="criuses-head">
				<div class="wrap">
					<h3>criuses</h3>
				</div>
				<!---End-destinatiuons---->
				<div class="find-place dfind-place">
					<div class="wrap">
						<div class="p-h">
							<span>  FIND YOURS  </span>
							<label>  HOLYDAYS  </label>
						</div>
						
						<!---strat-date-piker---->
						  <script src="{{asset('http://code.jquery.com/ui/1.9.2/jquery-ui.js')}}"></script>
						  <script>
						  $(function() {
						    $( "#datepicker" ).datepicker();
						  });
						  </script>
						<!---/End-date-piker---->
						
						<div class="p-ww">
							<form method="POST"  action="">
								<span> Where</span>
								<input  name="search" type="text" value="Destination" >
								<span> When</span>
								<input class="date" id="datepicker" type="text" value="Select date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select date';}">
								<input type="submit" value="Search" />
							</form>
						</div>
						

						<div class="clear"> </div>
					</div>
				</div>
			</div>
			
			
				<!----//End-find-place---->
				<!---start-criuse-grids----->
				<div class="criuse-main">
					<div class="wrap">
						<div class="criuse-head1">
							<h3>CHEAPEST Criuse</h3>
						</div
						
				

				
<div class="criuse-grids">					
<!-- ici on va faire une boucle  pour repeter le meme avec tt les version------------------------------------->
	 {% for m in mods %}					
	<div class="criuse-grid">
			<div class="criuse-grid-head">
			
					<div class="criuse-img">
					
										<div class="criuse-pic">
											<img src="{{asset('images/s1.jpg')}}" title="criuse-name" />
										</div>
										
										<div class="criuse-pic-info">
										
												<div class="criuse-pic-info-top">
													<div class="criuse-pic-info-top-weather">
														<p>33<label>o</label><i>c</i><span> </span></p>
													</div>
													<div class="criuse-pic-info-top-place-name">
														<h2><label>{{m.pays}}</label><span>{{m.nom}}</span></h2>
													</div>
												</div>
												
												<div class="criuse-pic-info-price">
													<p><span>{{m.type}}</span> <h4>Langue</h4></p>
												</div>
										</div>
					</div>
										
				    <div class="criuse-info">
									
											<div class="criuse-info-left">
												<ul>
													<li><a class="c-hotel" href="#"  ><span>   </span> Liste des hotels </a></li>
													<li><a class="c-air"   href="#"  ><span>   </span> vols </a></li>
													
													<div class="clear"> </div>
												</ul>
											</div>
										
											<div class="criuse-info-right">
												<ul>
													<li><a class="c-face" href="#" > <span>  </span>  </a></li>
													<li><a class="c-twit" href="#" > <span>  </span>  </a></li>
													<li><a class="c-tub"  href="#" > <span>  </span> </a></li>
													<li><a class="c-pin"  href="#" > <span>  </span> </a></li>
												</ul>
											</div>
										
							            <div class="clear"> </div>
									
					</div>
							
			</div>			
								<div class="criuse-grid-info">
									<h1><a href="#">Description</a></h1>
									<p>{{m.description}}</p>
									<a class="btn" href="{{path("afficherdetailsVillefront",{'id':m.id})}}">DeTails</a>
								</div>
								
	</div>
  {% endfor %} 
<!--THE END OF BOUCLE---------------------------------------------->
					
						<div class="criuse-grid-load">
							<a href="#">Loading More</a>
						</div>		
						
</div>
				</div>
				<!---//End-criuse-grids----->
			</div>
  </div>
		
  {% endblock %}		
