{# empty Twig template #}

<h1>Rechercher les villes </h1>
<form method="POST"  action="">
    rechercher : <input type="text" name="search"/>
    <input type="submit" value="chercher"/>
</form>
<h1> Liste des villes </h1>
<table border='1'>
    <tr>
        <td> ID </td>
        <td> Nom </td>
        <td> Pays </td> 
        <td> Latitude </td>
        <td> Longitude  </td>
        <td> Description </td>
        <td> Type </td>
        <td> Image </td>
    </tr>
 {% for m in modeles %}   
    <tr>
        <td>{{m.id}} </td>
        <td>{{m.nom}} </td>
        <td>{{m.pays}}</td>
        <td>{{m.latitude}}</td>
        <td>{{m.longitude}} </td>
        <td>{{m.description}}</td>
        <td>{{m.type}}</td>
        <td>{{m.image}}</td>
        
    </tr>
  {% endfor %}  
    
</table>